.main {
  position: relative;
}
.main__box{
  display: flex;
  width: 1170px;
  flex-wrap: wrap;
  margin: 0 auto;
}
.main__box-content {
  display: inline-block;
  width: 370px;
  height: 409px;
  border-radius: 7px;
  background-color: white;

}
.main__box-btn {
  bottom: 0;
  width: 146px;
  height: 19px;
  outline: none;
<<<<<<< HEAD
  background-color: white;
  text-decoration: underline;
=======
  background-color: blue;
>>>>>>> 865992d541e53f49926b3fefe4ee3db0a2ef3390
  border:none;
}
.main__box-list{
  display: inline-block;
<<<<<<< HEAD
}
.main__box-images {
  width: 100px;
  height: 110px;
  background-image: ;
=======
>>>>>>> 865992d541e53f49926b3fefe4ee3db0a2ef3390
}