.header {
  left: 0;
  padding-top: 7px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    cursor: pointer;
  }

  &__line {
    border-color: transparent;

    &::after {
      background-color: $silver;
      content: "";
      height: 1px;
      position: absolute;
      width: 1170px;
    }
  }
}

.nav {
  font-size: 1.6rem;
  text-transform: uppercase;

  &__link {
    border-bottom: 1px solid transparent;
    color: $text-abbey;
    margin: 0 25px;
    padding-bottom: 7px;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      border-bottom: 1px solid $text-cerulean-blue;
      color: $text-cerulean-blue;
      font-weight: 500;
    }

    &.active {
      border-bottom: 1px solid $text-cerulean-blue;
      color: $text-abbey;
      font-weight: 500;
      padding-bottom: 7px;

      &:hover::after {
        opacity: 0;
      }
    }
  }
}
