// Common
$main-font: "Montserrat", sans-serif;

// Text Colors
$text-abbey: #484b54;
$text-cerulean-blue: #3657c3;
$text-apple: #6ab03e;
$text-gray-chateau: #a0a1a3;
$text-black: #000;

// Bg colors
$bg-white: #fff;

// Colors
$white: #fff;
$silver: #c4c4c4;
$mine-shaft: #222;

$html-font-size: 10px;
$body-font-color: $text-abbey;
$body-font: $main-font;
$body-fz: 1rem;
$body-fw: 400;
$body-lh: 1;

// Grid
$container-width: 1170px;
$grid-columns: 12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  xl: 1199px,
  lg: 991px,
  md: 767px,
  sm: 575px,
);

$container-max-width: (
  xl: 960px,
  lg: 720px,
  md: 540px,
  sm: 100%,
);

$displays: none, inline-block, block, flex;

// Titles
$title-h1-fz: 7.2rem;
$title-h2-fz: 2.1rem;
$title-h3-fz: 1.6rem;
$title-h4-fz: 1.4rem;
$title-h5-fz: 1.2rem;
$title-h6-fz: 1rem;

$title-ff: $main-font;
$title-color: $text-abbey;

$title-sizes: (
  h1: $title-h1-fz,
  h2: $title-h2-fz,
  h3: $title-h3-fz,
  h4: $title-h4-fz,
  h5: $title-h5-fz,
  h6: $title-h6-fz,
);

// Footer

// Buttons
$btn-ff: $main-font;
$btn-fz-lg: 3rem;
$btn-fz-sm: 1.6rem;
